.nickname {
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

.message-divider {
  height: 1px;
  border-radius: 6px;
}

.message {
  border-radius: 6px;
  width: fit-content;
  max-width: 240px;
  min-height: 44px;

  &:last-child {
    margin-bottom: 12px;
  }
}

.body:not(:empty) + .default-body {
  display: none;
}
