<header
  class="header bg--black"
  [ngClass]="{ opened: isChat, closed: isChat === false }"
  #header
>
  <ng-container *ngIf="isChat; else chatMimic">
    <app-dropdown-chat></app-dropdown-chat>
  </ng-container>
  <ng-template #chatMimic>
    <div class="chat-mimic w-100"></div>
  </ng-template>
  <div
    class="navbar bg--accent-70 p-y-8 p-x-16"
    [ngClass]="{
      'flex--space-between--center': isChat,
      'flex--center': !isChat
    }"
  >
    <app-send-message *ngIf="isChat"></app-send-message>
    <nav class="navbar-actions flex--flex-end--center">
      <ng-container *ngIf="isLoggedIn; else loggedOut">
        <button
          *ngIf="isChat"
          mat-icon-button
          matTooltip="Open fullscreen chat"
          (click)="openFullscreenChat()"
        >
          <mat-icon color="primary"> zoom_out_map </mat-icon>
        </button>
        <button
          mat-icon-button
          [matTooltip]="isChat ? 'Close chat' : 'Open chat'"
          (click)="toggleChat()"
        >
          <mat-icon [color]="isChat ? 'warn' : 'primary'"> chat </mat-icon>
        </button>
        <button mat-icon-button matTooltip="Logout" (click)="logout()">
          <mat-icon color="warn"> logout </mat-icon>
        </button>
      </ng-container>
      <ng-template #loggedOut>
        <a
          *ngIf="!isLoggedIn"
          class="flex--center"
          [routerLink]="['/registration']"
        >
          <button mat-icon-button matTooltip="Register">
            <mat-icon color="primary"> supervisor_account </mat-icon>
          </button>
        </a>
        <a *ngIf="!isLoggedIn" class="flex--center" [routerLink]="['/login']">
          <button matTooltip="Login" mat-icon-button>
            <mat-icon color="primary">login</mat-icon>
          </button>
        </a>
      </ng-template>
    </nav>
  </div>
</header>
