<app-chat-message *ngIf="message" [message]="message"></app-chat-message>
<mat-divider></mat-divider>
<div class="flex--col--flex-start">
  <button class="w-100 flex--flex-start" mat-button (click)="deleteMessage()">
    <mat-icon>delete_forever</mat-icon> Delete
  </button>
  <button class="w-100 flex--flex-start" mat-button disabled>
    <mat-icon>edit</mat-icon> Edit
  </button>
  <button class="w-100 flex--flex-start" mat-button disabled>
    <mat-icon>reply</mat-icon> Reply
  </button>
</div>
