<section class="nav-container bg--black-70">
  <app-chat></app-chat>
  <div class="nav flex--center bg--blue p-8">
    <div class="nav-actions flex--flex-end--center gap-x-4">
      <ng-container *ngIf="isLoggedIn">
        <mat-icon matTooltip="Open chat" color="primary">chat</mat-icon>
        <mat-icon matTooltip="Logout" (click)="logout()" color="warn">
          logout
        </mat-icon>
      </ng-container>

      <a *ngIf="!isLoggedIn" class="flex--center" [routerLink]="['/login']">
        <mat-icon matTooltip="Login" color="primary">login</mat-icon></a
      >
    </div>
  </div>
</section>
<!-- Размещаем чат в навигации при клике на кнопку навигация выезжает вниз и открывается чат в ней -->
