@mixin chat-element {
  height: 40px;
}

.chat {
  // position: fixed;
  // left: 24px;
  // bottom: 24px;
  // width: 360px;
  box-sizing: border-box;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--app-grey);
    border-radius: 20px;
  }

  mat-icon:hover {
    cursor: pointer;
  }
}

.chat-header {

}

.nickname {
  font-weight: bold;
}

.message {
  border-radius: 6px;
  max-width: 240px;

  &:last-child {
    margin-bottom: 12px;
  }
}

// .chat-body {
//   height: 320px;
// }

// .chat-footer {
//   @include chat-element;
//   border-bottom-left-radius: 16px;
//   border-bottom-right-radius: 16px;
// }
