<div class="chat w-100 h-100 p-x-6">
  <div class="chat-body" #chat>
    <div class="chat-header flex--flex-start--center gap-x-6">
      <mat-form-field color="accent">
        <mat-select [(ngModel)]="currentChatId">
          <mat-option
            *ngFor="let chat of chatsService.userChats$ | async"
            [value]="chat.id"
          >
            {{ chat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="openCreateChatDialog()" mat-icon-button>
        <mat-icon matTooltip="Create chat">add</mat-icon>
      </button>
    </div>
    <div
      *ngIf="(chatsService.currentChat$ | async)?.messages?.length"
      class="chat-messages flex--col--flex-start gap-y-8"
    >
      <div
        *ngFor="let message of (chatsService.currentChat$ | async).messages"
        class="message p-6 bg--grey"
        [ngStyle]="{
          'align-self': chatsService.isCurrentUserMessage(message)
            ? 'flex-end'
            : 'initial'
        }"
      >
        {{ message.body }}
      </div>
    </div>
  </div>
</div>
