<div class="chat w-100 h-100 p-y-12 p-x-6">
  <div class="chat-body">
    <div class="chat-header bg--black-90 flex--flex-end--center gap-x-6">
      <mat-form-field color="accent">
        <mat-select [(ngModel)]="selectedChatId">
          <mat-option *ngFor="let chat of userChats" [value]="chat.id">
            {{ chat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="openCreateChatDialog()" mat-icon-button>
        <mat-icon matTooltip="Create chat">add</mat-icon>
      </button>
    </div>
    <div
      *ngIf="selectedChat?.messages?.length"
      class="chat-messages flex--col--flex-start"
    >
      <div
        *ngFor="let message of selectedChat.messages"
        class="message p-4"
        [ngStyle]="{
          'self-align':
            message.ownerId === currentUser.id ? 'flex-end' : 'initial'
        }"
      >
        {{ message.body }}
      </div>
    </div>
  </div>
</div>
