@mixin chat-element {
  height: 40px;
}

.chat {
  // position: fixed;
  // left: 24px;
  // bottom: 24px;
  // width: 360px;
  box-sizing: border-box;

  mat-icon:hover {
    cursor: pointer;
  }
}

.chat-header {
  position: absolute;
  background-color: inherit;
  // opacity: 0.7;
}

.message {
  border-radius: 6px;
}

// .chat-body {
//   height: 320px;
// }

// .chat-footer {
//   @include chat-element;
//   border-bottom-left-radius: 16px;
//   border-bottom-right-radius: 16px;
// }
