<div class="chat-body w-100 p-x-6" #chatBody>
  <div class="chat-messages flex--col--flex-start gap-y-8" #chatMessages>
    <div
      *ngFor="
        let message of currentChatMessages$ | async;
        trackBy: identifyMessage
      "
      class="message p-6 bg--grey"
      [ngStyle]="{
        'align-self': chatsService.isCurrentUserMessage(message)
          ? 'flex-end'
          : 'initial'
      }"
      (contextmenu)="deleteMessage(message.id)"
    >
      <div class="nickname">
        {{ usersService.getUserById(message.ownerId).nickname }}
        <mat-divider class="msg-divider bg--accent m-b-2"></mat-divider>
      </div>
      <div>{{ message.body }}</div>
    </div>
  </div>
</div>
