@mixin chat-element {
  height: 40px;
}

.chat-body {
  height: var(--chat-body-h);
  box-sizing: border-box;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--app-grey);
    border-radius: 20px;
  }

  mat-icon:hover {
    cursor: pointer;
  }
}

.chat-messages {
  padding-top: 50px;
}

.nickname {
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

.message-divider {
  height: 1px;
  border-radius: 6px;
}

.message {
  border-radius: 6px;
  max-width: 240px;
  min-height: 44px;

  &:last-child {
    margin-bottom: 12px;
  }
}

.message-options-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
