::ng-deep {
  :root {
    --chat-body-h: 350px;
    --chat-section-h: 45px;
    --chat-w: 350px;
    --chat-h: calc(var(--chat-w) + var(--chat-section-h));
    --ext-header-side: 450px;
    --chat-input-w: 200px;
  }
}

.header {
  position: fixed;
  box-sizing: border-box;
  left: calc(50% - (var(--chat-w) / 2));
  top: calc(0px - var(--chat-h));
  width: var(--chat-w);
  height: var(--chat-h);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &.opened {
    animation-name: open-chat;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  &.closed {
    left: calc(50% - (var(--ext-header-side) / 2));
    width: var(--ext-header-side);
    top: 0;
    animation-name: close-chat;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

.navbar {
  box-sizing: border-box;
  height: var(--chat-section-h);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

// try to reverse animation
@keyframes open-chat {
  from {
    left: calc(50% - (var(--chat-w) / 2));
    width: var(--chat-w);
    top: calc(0px - var(--chat-h));
  }

  to {
    left: calc(50% - (var(--ext-header-side) / 2));
    width: var(--ext-header-side);
    top: 0;
  }
}

@keyframes close-chat {
  from {
    left: calc(50% - (var(--ext-header-side) / 2));
    width: var(--ext-header-side);
    top: 0;
  }
  to {
    left: calc(50% - (var(--chat-w) / 2));
    width: var(--chat-w);
    top: calc(0px - var(--chat-h));
  }
}

@keyframes show-element {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide-element {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
