// When adding new style variable add it to functions list "styles" with-out "--s-"
$colors: ("black", "grey", "blue", "pink");
$shades: (10, 20, 30, 40, 50, 60, 70, 80, 90);

:root {
  --black: 34, 40, 49;
  --grey: 57, 62, 70;
  --blue: 0, 173, 181;
  --pink: 238, 238, 238;

  --app-black: rgb(var(--black));
  --app-grey: rgb(var(--grey));
  --app-blue: rgb(var(--blue));
  --app-pink: rgb(var(--pink));

  @each $color in $colors {
    .c--#{$color} {
      color: rgb(var(--#{$color})) !important;
    }
    .bg--#{$color} {
      background: rgb(var(--#{$color})) !important;
    }

    @each $shade in $shades {
      --app-#{$color}-#{$shade}: rgba(var(--#{$color}), #{$shade/100});

      .c--#{$color}-#{$shade} {
        color: rgba(var(--#{$color}), #{$shade/100}) !important;
      }
      .bg--#{$color}-#{$shade} {
        background: rgba(var(--#{$color}), #{$shade/100}) !important;
      }
    }
  }
}
