@use "sass:map";
@import "~@angular/material/theming";

@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallet
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);

  // Create theme specific styles
  .bg--primary {
    background-color: mat-color($primary, default);
  }
  .bg--accent {
    background-color: mat-color($accent, default);
  }
  .bg--warn {
    background-color: mat-color($warn, default);
  }

  .c--primary {
    color: mat-color($primary, default);
  }
  .c--accent {
    color: mat-color($accent, default);
  }
  .c--warn {
    color: mat-color($warn, default);
  }
}
