<header
  [ngClass]="{ opened: isChat, closed: isChat === false }"
  class="header bg--black"
  #header
>
  <app-chat *ngIf="isChat; else chatMimic"></app-chat>
  <ng-template #chatMimic>
    <div class="w-100 h-100"></div>
  </ng-template>
  <div
    [ngClass]="{
      'flex--space-between--center': isChatInput,
      'flex--center': !isChatInput
    }"
    class="navbar bg--blue p-y-8 p-x-16"
  >
    <form
      *ngIf="isChatInput && chatControl"
      class="navbar-chat-actions flex--center gap-x-8"
      (onsubmit)="sendMessage($event)"
    >
      <mat-form-field [ngClass]="{ removed: !isChat }" class="chat-input">
        <input [formControl]="chatControl" matInput />
      </mat-form-field>
      <button
        (click)="sendMessage()"
        [disabled]="chatControl.invalid || !chatControl.value?.length"
        [ngClass]="{ removed: !isChat }"
        type="submit"
        class="chat-send-button"
        matTooltip="Send message"
        mat-icon-button
      >
        <mat-icon
          [color]="
            chatControl.dirty && chatControl.invalid ? 'warn' : 'primary'
          "
        >
          send
        </mat-icon>
      </button>
    </form>

    <nav
      class="navbar-actions flex--flex-end--center"
      [ngClass]="{
        'chat-opened': isChat,
        'chat-closed': isChat === false
      }"
    >
      <ng-container *ngIf="isLoggedIn; else loggedOut">
        <button
          [matTooltip]="isChat ? 'Close chat' : 'Open chat'"
          (click)="toggleChat()"
          mat-icon-button
        >
          <mat-icon [color]="isChat ? 'warn' : 'primary'"> chat </mat-icon>
        </button>
        <button (click)="logout()" matTooltip="Logout" mat-icon-button>
          <mat-icon color="warn"> logout </mat-icon>
        </button>
      </ng-container>
      <ng-template #loggedOut>
        <a
          *ngIf="!isLoggedIn"
          class="flex--center"
          [routerLink]="['/registration']"
        >
          <button matTooltip="Register" mat-icon-button>
            <mat-icon color="primary"> supervisor_account </mat-icon>
          </button>
        </a>
        <a *ngIf="!isLoggedIn" class="flex--center" [routerLink]="['/login']">
          <button matTooltip="Login" mat-icon-button>
            <mat-icon color="primary">login</mat-icon>
          </button>
        </a>
      </ng-template>
    </nav>
  </div>
</header>
<!-- Размещаем чат в навигации при клике на кнопку навигация выезжает вниз и открывается чат в ней -->
