::ng-deep {
  :root {
    --header-side: 300px;
    --ext-header-side: 400px;
    --navbar-h: 46px;
    --chat-input-w: 200px;
  }
}

.header {
  position: fixed;
  box-sizing: border-box;
  left: calc(50% - (var(--header-side) / 2));
  top: calc(0px - var(--header-side));
  width: var(--header-side);
  height: var(--header-side);

  &.opened {
    animation-name: open-chat;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  &.closed {
    left: calc(50% - (var(--ext-header-side) / 2));
    width: var(--ext-header-side);
    top: 0;
    animation-name: close-chat;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
  }
}

.navbar {
  box-sizing: border-box;
  height: var(--navbar-h);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@mixin nav-act-animation {
  animation-duration: 1.9s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.navbar-actions {
  &.chat-opened {
    @include nav-act-animation;
    animation-name: open-nav-actions;
  }
  &.chat-closed {
    @include nav-act-animation;
    animation-name: close-nav-actions;
  }
}

.chat-input {
  width: 0;
  animation-name: open-input;
  animation-delay: 1s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  &.removed {
    width: var(--chat-input-w);
    animation-name: close-input;
    animation-delay: 0.3s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

.chat-send-button {
  opacity: 0;
  animation-name: show-element;
  animation-duration: 0.3s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;

  &.removed {
    opacity: 1;
    animation-name: hide-element;
    animation-duration: 0.3s;
    animation-delay: 0.001s;
    animation-fill-mode: forwards;
  }
}

// try to reverse animation
@keyframes open-chat {
  from {
    left: calc(50% - (var(--header-side) / 2));
    width: var(--header-side);
    top: calc(0px - var(--header-side));
  }

  to {
    left: calc(50% - (var(--ext-header-side) / 2));
    width: var(--ext-header-side);
    top: 0;
  }
}

@keyframes close-chat {
  from {
    left: calc(50% - (var(--ext-header-side) / 2));
    width: var(--ext-header-side);
    top: 0;
  }
  to {
    left: calc(50% - (var(--header-side) / 2));
    width: var(--header-side);
    top: calc(0px - var(--header-side));
  }
}

@keyframes open-input {
  from {
    width: 0;
  }

  to {
    width: var(--chat-input-w);
  }
}

@keyframes close-input {
  from {
    width: var(--chat-input-w);
  }

  to {
    width: 0;
  }
}

@keyframes show-element {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide-element {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes open-nav-actions {
  0% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close-nav-actions {
  0% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
