<div class="chat-body w-100 p-6" #chatBody>
  <div class="chat-messages flex--col--flex-start gap-y-8" #chatMessages>
    <div
      *ngFor="
        let message of currentChatMessages$ | async;
        trackBy: identifyMessage
      "
      (contextmenu)="openMessageOptions($event, message)"
      [ngStyle]="{
        'align-self': chatService.isCurrentUserMessage(message)
          ? 'flex-end'
          : 'initial'
      }"
    >
      <app-chat-message [message]="message"></app-chat-message>
    </div>
    <ng-template #messageOptions>
      <app-manage-message
        [message]="currentMessage$ | async"
        (messageEvent)="onCallMessageEvent()"
      ></app-manage-message>
    </ng-template>
  </div>
</div>
