<div class="chat-body w-100 p-6" #chatBody>
  <div class="chat-messages flex--col--flex-start gap-y-8" #chatMessagesElem>
    <div
      *ngFor="let message of chatMessages; trackBy: identifyMessage"
      [ngStyle]="{
        'align-self': chatService.isCurrentUserMessage(message)
          ? 'flex-end'
          : 'initial'
      }"
      (contextmenu)="openMessageOptions($event, message)"
    >
      <app-chat-message [message]="message"></app-chat-message>
    </div>
    <ng-template #messageOptions>
      <app-manage-message
        [message]="currentMessage$ | async"
        (messageEvent)="onCallMessageEvent()"
      ></app-manage-message>
    </ng-template>
  </div>
</div>
